li {
  padding: 5px;
  margin: 5px;
  background: peachpuff;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: turquoise;
}

.form-group {
  margin-bottom: 5px;
}
